body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -23px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-image: url('demon.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
#tbl{
    text-align: left;
    font-size: 30px;
    line-height: 45px;
    border-spacing: 25px;
}
.row{
    box-shadow:6px 4px 5px black;
    border-radius: 13px;
    color: rgb(17, 17, 192);
}
.checkbox{
    width: 60px;
    height: 25px;
    background-color: transparent;
}
input[type="checkbox"]{
    background: red;
}
li{
    display: inline;
    margin-right: 30px;
}
nav{
    
    font-size: 27px;
    height: 50px;
    display: block;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:  rgb(7, 7, 54);
}
#menubar{
    text-align: center;
    background-color: chocolate;
    height: 100px;
}
#logo{
    text-decoration: none;
    width: auto;
    font-size: 85px;
    margin-bottom: 0px;
    color: antiquewhite;
}
#about{
    margin-top: 40px;
    text-align: left;
    width: 100%;
    background-color: rgb(22, 25, 36);
    height: 110px;
    bottom: 0;
    margin-bottom: 0px;
    position: relative;
    bottom: 0px;
    border-top-style: groove;
}
#tble{
    text-align: center;
    padding-top: 30px;
    padding-left: 50px;
    margin-top: 15px;
    width: 100%;
}
a{
    text-decoration: none;
    color:wheat;
}